/********************
mixins
***********************/
@mixin parrafo($direccion, $just) {
    flex-direction: row;
    justify-content: center;
    
}
.p1 {
    @include parrafo(row, center);
}

/***************
extend
****************/
.p1 { 
    background-color: aqua;
    border-radius: 50px;

}
.p2 {
    @extend .p1;
    background-color: antiquewhite;
}
/***************
maps
***************/
$mapa: (
    facebook: blue,
    instagram: pink
    );
    @each $nombre,$colorcito in $mapa {
       .iconos#{$nombre}{
           background-color: $colorcito;
       } 
        
    }